<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>

    <%# @date = Date.today %>
  <p>
    <%= "The date is " + Date.today.strftime("%A, %B %d, %Y") %>
    </p>
  #  @date.strftime("%A, %B, %d %Y")


</html>
